.login_info {
    @apply bg-slate-50 flex justify-between mx-4 px-4 py-2 rounded-md sticky top-5;
}

.body_content {
    @apply w-[90%] sm:md:w-3/4 xl:w-3/5 bg-slate-50 mx-auto p-4 my-10 rounded-md;
}

.nama {

}

.nrp {
    @apply font-semibold text-xl;
}